@media screen and (min-width: 360px) and (max-width: 900px) {
    *{
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }
    
    :root{
        --verde: rgb(0, 255, 0);
        --preto: black;
        --cinza: rgb(22, 22, 22);
        --cinzaClaro: rgb(85, 85, 85);
        --branco: white;
    
        --margem: 1%;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vh;
        background-color: var(--preto);
        transition: all .3s;
    }
    
    a{
        text-decoration: none;
        color: var(--branco);
        transition: all .3s;
        scroll-behavior: smooth;
    }
    
    strong{
        color: var(--verde);
    }
    
    html::-webkit-scrollbar{
        width: .5rem;
    }
    
    html::-webkit-scrollbar-track{
        background: var(--preto);
    }
    
    html::-webkit-scrollbar-thumb{
        background: var(--verde);
    }
    
    /* parte das apresentações */
    
    .texto{
        margin-top: 10%;
        width: 90%;
        margin-left: 5%;
        padding: 1%;
        display: flex;
        justify-content: space-around;
    
        & .imagemResp{
            display: none;
        }
    }
    
    .caixaTexto{
        color: var(--branco);
        padding: 1%;
    
        & h4{
            font-size: 2vh;
            color: var(--verde);
        }
    
        & .fonte1{
            margin-top: 3%;
            font-size: 4.5vh;
        }
        
        & .fonte2{
            font-size: 1.5vh;
            color: var(--cinzaClaro);
        }
    
        & .caixaLinhas{
            display: block;
            justify-content: center;
    
            & .linha{
                display: flex;
                justify-content: space-between;
    
                & .item{
    
                    & .title{
                        display: flex;
                        justify-content: left;
    
                        & img{
                            width: 2vh;
                        }
    
                        & h3{
                            margin: auto;
                        }
                    }
                }
            }
        }
    
        & .botao{
          width: 100%;
          text-align: left;
          
          & button{
            margin-left: 5%;
            margin-top: 5%;
            border: none;
            padding: 3%;
            font-size: 2vh;
            color: var(--branco);
            background: linear-gradient(135deg, rgb(0, 255, 0) 93%, transparent 90%);
            cursor: pointer;
            transition: .5s all;
          }
        }
    
        .botao button:hover{
            transform: scale(1.1);
            transition: .5s all;
        }
    }
    
    .servicos{
        margin-top: 15%;
        width: 90%;
        margin-left: 5%;
        padding: 1%;
    
        & .linha2{
            display: flex;
            justify-content: center;
    
            & .tamanhoTrilho{
                width: 30%;
                display: block;
                text-align: center;
            }
    
            & .descricao{
                background-color: var(--preto);
    
                & img{
                    width: 30%;
                    margin-top: 5%;
                }
    
                & .title-features{
                    font-size: 2vh;
                }
    
                & p{
                    color: var(--cinzaClaro);
                    display: none;
                }
    
                & button{
                    border: none;
                    color: var(--branco);
                    font-size: 2vh;
                    padding: 2%;
                    background: linear-gradient(130deg, rgb(0, 255, 0) 93%, transparent 90%);
                    transition: .5s all;
                    cursor: pointer;
                    margin-bottom: 10%;
                }
            }
        }
    }
    
    .descricao button:hover{
        transform: scale(1.1);
        transition: .5s all;
    }
    
    footer{
        display: block;
        justify-content: center;
        padding-bottom: 5%;
    
        margin-top: 10%;
    
        & .plan{
            color: var(--branco);
            padding: 2%;
            text-align: center;
            width: 80%;
            margin-left: 10%;
            transition: .5s all;
            margin-top: 20%;
    
            & p{
                
                & strong{
                    font-size: 7vh;
                }
            }
    
            & .direitos{
                text-align: center;
    
                & p{
                    color: var(--cinzaClaro);
    
                    & img{
                        width: 3%;
                    }
                }
    
                & button{
                    padding: 3%;
                    border: none;
                    color: var(--branco);
                    background: linear-gradient(130deg, rgb(0, 255, 0) 93%, transparent 90%);
                    transition: .5s all;
                    cursor: pointer;
                }
            }
        }
    }
    
    .plan:hover{
        background: linear-gradient(130deg, rgb(22, 22, 22) 93%, transparent 90%);
        transform: scale(1.1);
        transition: .5s all;
    }
    
    .direitos button:hover{
        transform: scale(1.1);
        transition: .5s all;
    }
    
    footer:hover > :not(:hover){
        opacity: .5;
        scale: .97;
    }
    
    .tituloTrainners{
        color: var(--verde);
        text-align: center;
        padding: 2%;
        margin-top: 20%;
        
        & button{
            font-size: 5vh;
            padding: 1% 2% 1% 2%;
            border-radius: 40px;
            border: solid 3px var(--verde);
            color: var(--verde);
            background-color: transparent;
        }
    }
    
    .trainners{
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: 5%;
        
        & img{
            width: 25%;
            border-radius: 50%;
        }
    
        & .linha{
            width: .1%;
            background-color: var(--cinza);
            margin: 0% 5% 0% 5%;
            color: transparent;
        }
    
        & .description{
            width: 25%;
            color: var(--branco);
    
            & p{
                color: var(--cinzaClaro);
    
                & a{
                    font-size: 3vh;
                    color: var(--branco);
                    font-family: "Black Ops One", serif;
                }
            }
        }
    }
    
    .linhaCinza{
        width: 100%;
        height: .1%;
        background-color: var(--cinza);
        color: transparent;
    }
    
    .loc{
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: 5%;
        
        & img{
            width: 25%;
            border-radius: 50%;
            object-fit: fill;
        }
    
        & .linha{
            width: .1%;
            background-color: var(--cinza);
            margin: 0% 5% 0% 5%;
            color: transparent;
        }
    
        & .description{
            width: 25%;
            color: var(--branco);
    
            & p{
                color: var(--cinzaClaro);
                padding: 1%;
    
                & img{
                    width: 3vh;
                }
            }
        }
    }
    
    .mais{
        color: var(--branco);
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        padding: 2% 0% 5% 0%;
    
        & .infos{
            padding: 2%;
    
            & h2{
                font-size: 4vh;
            }
    
            & p{
                color: var(--cinzaClaro);
    
                & img{
                    height: 3vh;
                }
    
                & .horas{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            }
        }
    
        & .linha{
            width: .1%;
            background-color: var(--cinza);
            margin: 0% 5% 0% 5%;
            color: transparent;
        }
    }
}



@media screen and (min-width: 1200px) {
    *{
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }
    
    :root{
        --verde: rgb(0, 255, 0);
        --preto: black;
        --cinza: rgb(22, 22, 22);
        --cinzaClaro: rgb(85, 85, 85);
        --branco: white;
    
        --margem: 1%;
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vh;
        background-color: var(--preto);
        transition: all .3s;
    }
    
    a{
        text-decoration: none;
        color: var(--branco);
        transition: all .3s;
        scroll-behavior: smooth;
    }
    
    strong{
        color: var(--verde);
    }
    
    html::-webkit-scrollbar{
        width: .5rem;
    }
    
    html::-webkit-scrollbar-track{
        background: var(--preto);
    }
    
    html::-webkit-scrollbar-thumb{
        background: var(--verde);
    }
    
    /* parte das apresentações */
    
    .texto{
        margin-top: 10%;
        width: 90%;
        margin-left: 5%;
        padding: 1%;
        display: flex;
        justify-content: space-around;
    
        & img{
            width: 30%;
            border-top-left-radius: 20%;
            border-bottom-right-radius: 20%;
            object-fit: fill;
        }
    }
    
    .caixaTexto{
        color: var(--branco);
        padding: 1%;
    
        & h4{
            font-size: 2vh;
            color: var(--verde);
        }
    
        & .fonte1{
            margin-top: 3%;
            font-size: 4.5vh;
        }
        
        & .fonte2{
            font-size: 1.5vh;
            color: var(--cinzaClaro);
        }
    
        & .caixaLinhas{
            display: block;
            justify-content: center;
    
            & .linha{
                display: flex;
                justify-content: space-between;
    
                & .item{
    
                    & .title{
                        display: flex;
                        justify-content: left;
    
                        & img{
                            width: 2vh;
                        }
    
                        & h3{
                            margin: auto;
                        }
                    }
                }
            }
        }
    
        & .botao{
          width: 100%;
          text-align: left;
          
          & button{
            margin-left: 5%;
            margin-top: 5%;
            border: none;
            padding: 3%;
            font-size: 2vh;
            color: var(--branco);
            background: linear-gradient(135deg, rgb(0, 255, 0) 93%, transparent 90%);
            cursor: pointer;
            transition: .5s all;
          }
        }
    
        .botao button:hover{
            transform: scale(1.1);
            transition: .5s all;
        }
    }
    
    .servicos{
        margin-top: 15%;
        width: 90%;
        margin-left: 5%;
        padding: 1%;
    
        & .linha2{
            display: flex;
            justify-content: center;
    
            & .tamanhoTrilho{
                width: 28%;
                display: block;
                text-align: center;
            }
    
            & .descricao{
                background-color: var(--preto);
    
                & img{
                    width: 30%;
                    margin-top: 5%;
                }
    
                & .title-features{
                    font-size: 3vh;
                }
    
                & p{
                    color: var(--cinzaClaro);
                }
    
                & button{
                    border: none;
                    color: var(--branco);
                    font-size: 2vh;
                    padding: 2%;
                    background: linear-gradient(130deg, rgb(0, 255, 0) 93%, transparent 90%);
                    transition: .5s all;
                    cursor: pointer;
                }
            }
        }
    }
    
    .descricao button:hover{
        transform: scale(1.1);
        transition: .5s all;
    }
    
    footer{
        display: flex;
        justify-content: space-around;
        padding-bottom: 5%;
    
        margin-top: 10%;
    
        & .plan{
            color: var(--branco);
            padding: 2%;
            text-align: center;
            width: 15%;
            transition: .5s all;
    
            & p{
                
                & strong{
                    font-size: 7vh;
                }
            }
    
            & .direitos{
                text-align: center;
    
                & p{
                    color: var(--cinzaClaro);
    
                    & img{
                        width: 3%;
                    }
                }
    
                & button{
                    padding: 3%;
                    border: none;
                    color: var(--branco);
                    background: linear-gradient(130deg, rgb(0, 255, 0) 93%, transparent 90%);
                    transition: .5s all;
                    cursor: pointer;
                }
            }
        }
    }
    
    .plan:hover{
        background: linear-gradient(130deg, rgb(22, 22, 22) 93%, transparent 90%);
        transform: scale(1.1);
        transition: .5s all;
    }
    
    .direitos button:hover{
        transform: scale(1.1);
        transition: .5s all;
    }
    
    footer:hover > :not(:hover){
        opacity: .5;
        scale: .97;
    }
    
    .tituloTrainners{
        color: var(--verde);
        text-align: center;
        padding: 2%;
        margin-top: 5%;
        
        & button{
            font-size: 5vh;
            padding: 1% 2% 1% 2%;
            border-radius: 40px;
            border: solid 3px var(--verde);
            color: var(--verde);
            background-color: transparent;
        }
    }
    
    .trainners{
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        
        & img{
            width: 25%;
            border-radius: 50%;
        }
    
        & .linha{
            width: .1%;
            background-color: var(--cinza);
            margin: 0% 10% 0% 10%;
            color: transparent;
        }
    
        & .description{
            width: 25%;
            color: var(--branco);
    
            & p{
                color: var(--cinzaClaro);
    
                & a{
                    font-size: 3vh;
                    color: var(--branco);
                    font-family: "Black Ops One", serif;
                }
            }
        }
    }
    
    .linhaCinza{
        width: 100%;
        height: .1%;
        background-color: var(--cinza);
        color: transparent;
    }
    
    .loc{
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5%;
        
        & img{
            width: 25%;
            border-radius: 50%;
            object-fit: fill;
        }
    
        & .linha{
            width: .1%;
            background-color: var(--cinza);
            margin: 0% 10% 0% 10%;
            color: transparent;
        }
    
        & .description{
            width: 25%;
            color: var(--branco);
    
            & p{
                color: var(--cinzaClaro);
                padding: 1%;
    
                & img{
                    width: 3vh;
                }
            }
        }
    }
    
    .mais{
        color: var(--branco);
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        padding: 2% 0% 5% 0%;
    
        & .infos{
            padding: 2%;
    
            & h2{
                font-size: 4vh;
            }
    
            & p{
                color: var(--cinzaClaro);
    
                & img{
                    height: 3vh;
                }
    
                & .horas{
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            }
        }
    
        & .linha{
            width: .1%;
            background-color: var(--cinza);
            margin: 0% 10% 0% 10%;
            color: transparent;
        }
    }
}