:root{
    --verde: rgb(2, 221, 2);
    --sombraVerde: rgb(0, 83, 0);
    --preto: black;
    --cinza: rgb(22, 22, 22);
    --cinzaClaro: rgb(85, 85, 85);
    --branco: rgb(236, 236, 236);

    --margem: 1%;
}

main{
    padding: 2%;
}

.cabecalho{
    box-shadow: 5px 2px 5px var(--preto);
}
.divBorda{
    padding: 0.1%;
    background: linear-gradient(100deg, var(--verde)1%, var(--preto)99.5%, transparent 90%);

    #mente-e-corpo{
        background: linear-gradient(to right, rgb(0, 0, 0), rgba(1, 1, 1, 0.151)), url(/assets/backMenteCorpo.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    
    
            & #title{
                padding: 2%;
                color: var(--branco);
                margin-bottom: -2.5%;
            }
        
            & #text{
                padding: 2%;
                color: var(--branco);
                max-width: 50%;
            }
    }
}
